*{
    margin: 0;
    padding : 0px;
    box-sizing: border-box;
}

.header{
  width: 1360px;
  height: 88px;
  top: 48px;
  left: 40px;
}

.top-left{
  position: absolute;
  top: 1rem;
  left: 5rem;
  width: 100.22px;
  height: 64px;
}
.top-right {
  position: absolute;
  top: 1rem;
  right: 5rem;
  width: 100.22px;
  height: 64px;
}

.centered-text {
  color:  #1A3D86;
  font-size: 60px;
  letter-spacing: 0em;
  text-align: center;   
}

.banner-subtitle{
    width: 422px ;
    height: 56px;
}
